---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font: 16px/1.5 'Old Standard TT', serif;
}

a:hover{
    text-decoration: underline;
    font-weight: normal;
}

/* body{
    background-color: #fff;
    padding: 50px;
    font: 14px/1.5 BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #727272;
    font-weight: 400;
}

code, pre {
    font-family: "SF Mono",Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    color: #333;
} */
